
version: 2.1

jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:10.0

    steps:
      - checkout

      - run:
          name: Find project file
          command: find . -name "*.csproj"

      - run:
          name: Restore
          command: dotnet restore

      - run:
          name: Build
          command: dotnet build

      - run:
          name: Run
          command: dotnet run

workflows:
  build_and_test:
    jobs:
      - build
